@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

nav .logo {
	height: 60px;
}

nav {
	width: 100%;
    padding: 26px 45px;
}

.mobile {
	display: inline-block;
}

.desktop {
	display: none;
}

#splash {
	background-image: url('../img/splash.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

#splash .container {
	padding: 79px 27px;
	text-align: center;
}

#splash form {
	margin: 40px auto;
}

#splash .form-group {
	padding: 0;
}

#splash form input {
	width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
	background-color: #40c8f4;
	border-color: #007da5;
}

#splash form input,
#splash form button {
	border-radius: 0;
	font-size: 1.2em;
    padding: 17px;
}

#howitworks {
	padding: 100px 0;
	text-align: center;
}

#howitworks .header {
	margin: 0 auto 40px;
	color: #4a4a4a;
}

.cardcus {
	box-shadow: 0px 3px 11px 3px rgba(0,0,0,.04);
	padding: 20px;
	height: 100%;
}

p {
	color: #959595;
}

.cardcus img {
	height: 80px;
	width: auto;
}

#counters {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

#counters h3 {
	color: #40c8f4;
}

.margin-three {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}

.separator-line-thick {
    height: 4px;
    margin: 0 auto;
    width: 30px;
    margin: 7% auto;
}

.bg-mid-gray {
    background: #d4d4d4 !important;
}

#addedCompanies {
	padding-top: 30px;
	padding-bottom: 30px;
}

#addedCompanies .card-header img {
	height: 40px;
	margin-right: 35px;
}

#addedCompanies .card {
	border-color: #f7f7f7;
	margin-bottom: 15px;
}

#addedCompanies .card-header a{
	text-decoration: none;
    color: #333;
}

#addedCompanies #accordion .card {
	margin-bottom: 30px;
}

#addedCompanies .nav-pills .nav-link.active,
#addedCompanies .show>.nav-pills .nav-link {
	background-color: #147fac;
}

#addedCompanies .nav-pills .nav-link {
    border-radius: .25rem;
    margin: 2px 45px;
    background: #87bdd3;
    color: #dfeef4;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #095fac; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 1px solid;
    color: #c7eafc;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #fff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    border: 0;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    -ms-transform: translate(0); /* IE 9 */
    -webkit-transform: translate(0); /* Safari */
    transform: translate(0);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
    transition: transform .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 800px) {
	#splash .container {
		padding: 150px;
		text-align: center;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

}





























